######################################
## General Application Configuration
## Switch to 1 to run
use.datacollector=1
use.controller=1

######################################
##DataCollector Genera Configuration
wisedb.testbedid=1
uberdust.server=uberdust.cti.gr
uberdust.port=80
uberdust.basepath=/


######################################
##Backend Type:
## xbee, tr, coap, cmd
backend.type=cmd


######################################
##No cmd specific configuration needed